.main-content {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #525252;
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-item {
  max-width: 800px;
  width: 80vw;
  border-radius: 10px;
  padding: 30px;
  background: white;
}
