
.dynamic-table caption {
    text-decoration: underline;
    padding-bottom: 0.5em;
}
.dynamic-table, .dynamic-table td, .dynamic-table th {
    border-collapse: collapse;
    border: solid 1px grey; 
    padding: 5px;
    max-width: 100px;
    font-size: large;
}

.row-header {
    font-weight: bold;
}

.dynamic-table-div button {
    padding: 0.3em;
    margin: 10px;
}

.dynamic-table  button {
    margin: 1em 5px; padding: 5px;
}

.buttons {
    text-align: right;
}

.blackness {
    background-color: black;
}

.jsonArray {
    overflow-y: auto;
    overflow-x: auto;
    height: 1em
}

.jsonArray:hover {
    
    height: auto
}